* {
-webkit-backface-visibility: hidden;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-user-select: none;
}
input {
-webkit-user-select: text;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}
body {
    background-image: url(../img/body_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
#pageWrapper {
    height: 100%;
    background-color: #FFF;
    background: #dedee6; /* Old browsers */
background: -moz-linear-gradient(top, #dedee6 0%, #ffffff 53%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedee6), color-stop(53%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dedee6 0%,#ffffff 53%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dedee6 0%,#ffffff 53%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dedee6 0%,#ffffff 53%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #dedee6 0%,#ffffff 53%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedee6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



/********************************
  Header
**********************************/
#header {    
    text-transform: capitalize;
    text-align: center;
    color:#FFF;
    font-size: 18px;    
}
#headerWrapper {
    background-color: #0099f1;
    padding: 7px 0px;    
}


/********************************
  Sidebar
**********************************/
#sidebarWrapper {
    position: relative;
}
ul#sidebar {
    height: 100%;
    background-color: #262627;
    position: fixed;
    width: 263px;
    margin-left: -15px;    
    margin-top: 0px;
    padding: 0px;
    list-style: none;
}
    ul#sidebar li{
        
    }
        ul#sidebar li.odd{
            background-color: #262627;
        }
        ul#sidebar li.even{
            background-color: #2f3031;
        }
        ul#sidebar li.active {
            background-color: #1f2021;
        }        
    ul#sidebar li a{
        padding: 15px 25px;
        color:#FFF;
        text-transform: uppercase;
        display: block;
    }
        ul#sidebar li.active a{
            background-repeat: no-repeat;
            background-position: right center;
            background-image: url(../img/active_bg.png);
        }

/*********************************
  Bottombar
*********************************/
#bottombarWrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #262627;
    width: 100%;
    display: none;    
}

ul#bottombar {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
    ul#bottombar>li {
        float:left;
        width: 25%;
    }
    ul#bottombar>li>a {
        display: block;
        text-align: center;
        padding: 15px 10px;
        color:#FFF;
    }
    ul#bottombar>li.active>a {
        background-color: #40A42B;
    }


/**********************************
  MainWrapper
*********************************/
.mainWrapper {
    padding: 20px 10px;    
}
.mainWrapper h2.title{
    padding-top: 0px;    
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E6EBEF;
    font-weight: normal;
    font-size: 26px;
}
.mainWrapper h3{
    font-size: 20px;
    font-weight: normal;
}


/***********************************
  Home
***********************************/
.chartWrapper {
    padding-top: 10px;    
    position: relative;
}
.chartControl{
    padding: 3px 0px;
    text-align: center;    
}
    .chartControl a{
        display: inline-block;
        padding: 5px 7px;
        border-radius:3px;
    }
    .chartControl a.activo{
        background-color: #0099f1;
        color:#FFF;
    }
.chart {    
    height:300px;    
}
.ac-legend, .axis {
    font-size: 10px;
}

.home-basico {
    padding: 40px 30px;
    background-color: #e1e2e6;
    margin: 12px -15px;
    margin-top: 40px;
    margin-bottom: 0px;
}
body.perfil h2 {
    margin-top: 5px;
    margin-bottom: 3px;
    line-height: 20px;
}
.home-paciente, .home-perfil {
    margin: 3px;
}
.home-paciente {
    font-size: 13px;
}
.home-perfil a {
    color:#009af6;
    font-size: 14px;    
}
.fotoWrapper {
    width: 120px;
    height: 120px;
    margin: auto;
    background-color: #FFF;
    overflow: hidden;    
    border:1px solid #0099f1;
    border-radius: 50%;
    margin-top: 30px;
}
.fotoWrapper2 {
    border:5px solid #FFF;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fotoWrapper2 img{
    margin-left: -50%;
}

.homeinfo-left, .homeinfo-right {
    color:#FFF;
    padding: 20px;
}      
.homeinfo-left {
    background-color: #558ac4;
    border-radius:10px 0px 0px 10px;
}
.homeinfo-right {
    background-color: #40a42b;
    border-radius:0px 10px 10px 0px;
}
    .homeinfo-left h3, .homeinfo-right h3 {
        text-transform: uppercase;
    }

span.peso_perdido {
    font-size: 28px;
    font-weight: bold;
}
span.peso_signo {
    font-size: 16px;
}
span.cita_fecha {
    font-size: 13px;
}
span.cita_hora {
    font-size: 13px;
    font-weight: bold;
}
span.citau_fecha {
    font-size: 18px;    
    color:#0099f1;
}
span.citau_hora {
    font-size: 36px;     
    font-weight: bold;
}
span.home-item {
    text-transform: uppercase;
    font-size: 13px;
    color: #777;
}
#mobileMenu {
    position: absolute;
    top:40px;
    left: 0px;
    width: 100%;
    list-style: none;
    background-color: #edeef2;
    z-index: 99;
    margin: 0px;
    padding: 0px;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.4);
}
#mobileMenu>li {
    background-image: url(../img/menu_li.png);
    background-repeat: no-repeat;
    background-position: 92% 50%;
}
#mobileMenu>li>a{
    color:#2f3034;
    padding: 12px 25px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #d5d6da;
    display: block;
}
#mobileMenu>li:hover {
    background-color: #009af2;
}
#mobileMenu>li:hover a{
    color:#FFF;
    text-decoration: none;
}

/************************************
  Chat
*************************************/
.mensajes-historial {
    /*
    border:1px solid #aaa;
    border-radius:5px;
    padding: 20px 15px;
    margin-bottom: 10px;
    */  
    min-height: 250px;  
} 
.mensajes-list {
    list-style: none;    
    padding: 0px;
    margin: 0px;
    padding-bottom: 50px;
} 
.mensaje-avatar {
    border-radius: 50%;
    width: 15%;
    max-width: 80px;
    height: auto;
    border:  1px  solid #cbcdd9;
    overflow: hidden;
    float:left;    
}
li.msj_paciente .mensaje-avatar{
    float: right;    
}
.mensaje-avatar img{
    width: 100%;
}
.mensajes-list li{    
    margin-bottom: 10px;
    text-align: right;
    clear: both;    
}
.mensajes-list li .mensaje {
    padding: 7px 12px;
    background-color: #0099f1;
    color:#FFF;
    border-radius:3px;
    text-align: left;
    float: right;
    width: 75%;
    position: relative;
}
li.msj_paciente .mensaje {
    float: left;
    background-color: #b2b2b2;
}
.mensajes-list li .mensaje:before{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #0099f1;  
  display: block;
  position: absolute;
  top:8px;
  left: -10px;
  content:" ";
}
li.msj_paciente {
    text-align: left;
}
li.msj_paciente .mensaje:before {
    right:-10px;
    left: auto;
    width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:10px solid #b2b2b2;
  border-right: none;
}


.mensaje-contenedor {
    width: 100%;
    overflow: hidden;
}
.mensaje-envio {
    background-color: #272c30;
    color:#FFF;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px 15px;
}
textarea.elmensaje {
    background: none;
    border:none;
    color:#FFF;
    width:100%;
}
.mensaje-envio.active {
    bottom: auto;
    top:40px;
    height: 50%;
}
.autor {
    font-weight: bold;
}
.autor, .fecha {
    font-size: 11px;
}
  
/********************************
  Misc
**********************************/

.consombra {
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.5);
}  
.fullwidth {
    width: 100%;    
}
.align-center {
    margin: auto;
    display: block;
}
.talign-center {
    text-align: center;
}
.msg-error {
    padding: 10px 20px;
    color:#FFF;
    background-color: #e21212;
    margin-top: 5px;
    text-align: center;
    display: none;
}
.msg-error.mostrar {
    display: block;
}
a.btn-primary {
    background-color: #0099f1;
}
a.btn-primary:hover {
    background-color: #34373c;
}

/***************************************
  Login
**************************************/ 
body.login #header, body.login #sidebarWrapper, body.login #headerWrapper {
    display: none;
}

body.login .col-md-9 {
    width: 100%;
}
#loginWrapper {
    max-width: 445px;
    margin: auto;    
}
#loginBox {    
    max-width: 445px;
    margin: auto;
    padding: 5px 10px;
    padding-bottom: 30px;
}
    #loginBox h2{
        color: #545554;
        font-size: 14px;
        padding: 5px 0px 15px;
        font-family: "Open Sans",sans-serif;
        font-weight: normal;
        margin: 0px;
    }
    #loginBox input.txt {        
        width: 100%;
        border-radius: 4px;
        margin: 5px 0px;
        border: 1px solid #a9aaae;    
        font-family: "Open Sans",sans-serif;
        font-size: 15px;
        padding-left: 55px;
        padding-top: 12px;
        padding-bottom: 10px;
        color: #1c1d22;        
        background-repeat: no-repeat;
        background-position: left center;        
    }
    #loginBox input.login {
        background-image: url(../img/login_email.png);
    }
    #loginBox input.pass {
        background-image: url(../img/login_pass.png);
    }
    #loginBox input.submit {
        color: #FFF;
        padding: 10px 0px;
        border:none;
        border-radius: 2px;
        display: block;        
        font-size: 18px;
        background-color: #009af2;
        text-transform: capitalize;        
        margin: auto;
        margin-top: 5px;
        width: 100%;
    }
    #loginBox input.submit:disabled {
        background-color: #666;
    }
    img.logo-login {
        max-width: 60%;
        margin-top: 50px;
        margin-bottom: 5px;
    }

/*************************************
  Dietas
**************************************/
ul.plan {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
    ul.plan li{
        border-top:1px solid #FFF;
        border-bottom:1px solid #d7d8dc;
        padding: 10px 12px;
        font-weight: bold;
    }
    ul.plan li:hover{
        background-color: #009bf5;
    }    
    ul.plan li a{
        color:#0091f6;  
        display: block;
        padding-top: 6px; 
    }    
    ul.plan li a span{
        color:#666;
        font-weight: normal;
        font-size: 12px;
    }
    ul.plan li:hover a, ul.plan li:hover a span{
        color:#FFF;
        text-decoration: none;
    }
    .icon-circle {
        width: 38px;
        height: 38px;
        border-radius:50%;
        border:1px solid #cdccd9;
        background-color: #FFF;
        text-align: center;
        padding-top: 5px;
        padding-left: 3px;
    }
.plan_elige {
    background-color: #0099f1;
    color:#FFF;
    padding: 10px 0px;    
    text-align: center;
}
.plan_elige select{
    color:#0099f1;
    width: 80%;
    border:none;
}
.planWrapper h2 {
    background-color: #0099f1;
    color:#FFF;
    padding: 4px 10px;
    font-size: 18px;
} 
.planWrapper h3 {    
    color: #0099f1;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.planWrapper p {
    margin-top: 5px;
    margin-left: 10px;
}
/**********************************
 Configuracion
**********************************/
h3.seccion {
    background-color: #4c4d52;
    color:#FFF;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 7px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul.config-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul.config-list li{
    padding: 12px 15px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #dfe0e4;
}
ul.config-list li label{
    font-size: 12px;
}
ul.config-list li input.text {
    border:none;
    background: none;
    width: 100%;
}    
ul.config-list li input.text:focus {
    border: 1px solid #666;
    background-color: #FFF;
    border-radius:3px;
    padding: 3px 5px;
}


/************************************
  Registro Diario
************************************/
h2.registro_dia {
    text-align: center;
    margin: 5px 0px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
}
h3.registro_fecha {
    text-align: center;
    margin: 5px 0px;
    font-size: 14px;
    color: #0099f1;
}
a.ctrl_fecha {
    display: block;
    color:#FFF;
    font-weight: bold;
    background-color: #0099f1;    
    text-align: center;
    width: 30px;
    height: 30px;
    margin-top: 18px;
    padding-top: 5px;
}  
.fecha-votacion {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
textarea.fecha-observacion {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
}
input.frm-radio {
    display: none;
}
label.label-radio {
    display: block;
    border-radius:50%;
    height: 55px;
    width: 55px;
    color:#FFF;
    background-color: #000;
    cursor: pointer;
    padding-top: 16px;
}
label.label-mal { background-color: #BB0000; }
label.label-mamenos { background-color: #edbe03; }
label.label-bien { background-color: #18aa00; }
input.frm-radio:checked + label.label-radio {
    background-color: #333;
} 

.registro_voto {
    display: block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #CCC;
    margin: auto;
    margin-top: 10px;
}
    .registro_voto.voto1 {
        background-color: #bb0000;
    }
    .registro_voto.voto2 {
        background-color: #edbe03;
    }
    .registro_voto.voto3 {
        background-color: #18aa00;
    }
.registro_general {    
    border-bottom: 1px solid #d3d4d8;
    border-top:1px solid #FFF;    
}
.registro_general:hover {
    background-color: #0099f1;
    border-bottom:1px solid #00629b;
}
.registro_general a{
    font-weight: bold;
    display: block;
    padding: 12px 0px;
}
.registro_general a:hover{
    color:#FFF;
    text-decoration: none;
}



/* Mobile Layout: 320px.
Gutters: 24px.
Outer margins: 34px.
Inherits styles from: Default Layout.
---------------------------------------------
cols 1 2 3
px 68 160 252 */
@media only screen and (max-width: 767px) {
    .homeinfo-left, .homeinfo-right {
        padding:10px;
    }
    .homeinfo-left h3, .homeinfo-right h3 {
        font-size:18px;
        line-height:20px;
        margin-bottom: 0px;
    }
    #pageWrapper {        
        padding-bottom: 0px;
        min-height: 100%;    
        height: 100%; 
    }
    .homeinfo-left, .homeinfo-right {
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .mainWrapper {
        padding: 0px;
    }
    #headerWrapper {
        position: absolute;
        width: 100%;
        z-index:99;
    }
    #contentWrapper {
        min-height: 100%;        
    }
    .home-basico {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    #rightWrapper{
        min-height: 100%;
        position: absolute;
        width: 100%;
        padding-top: 40px;
    }
}


