<h2 class="title">Mensajes</h2>
<div class="mensajes-historial">
    <ul class="mensajes-list">
                <li ng-repeat="msg in items" class="{{msg.tipo}}">
                    <div class="mensaje-contenedor">
                    <div class="mensaje-avatar">
                        <img src="img/avatar-default.png" />
                    </div>
                    <div class="mensaje">
                        {{msg.mensaje}}
                        <br />
                        <span class="autor">{{msg.nombre}}</span>
                    </div>                    
                    </div>
                    <span class="fecha">{{msg.fecha}} {{msg.hora}}</span>
                </li>
            </ul>
</div>

<div class="row mensaje-envio" ng-class="{active:hasFocus==true}">
    <div class="col-xs-10">
        <textarea ng-model="elmensaje" ng-focus="hasFocus=true" ng-blur="hasFocus=false" name="elmensaje" class="elmensaje" placeholder="Escribe tu mensaje..."></textarea>
    </div>
    <div class="col-xs-2 align-center">
        <a href="" ng-click="enviar_mensaje()">
            <img src="img/mas.png" />
        </a>
    </div>
</div>
