<h2 class="title">Mensajes</h2>
<a ng-click="gotoBottom()">Ir al final</a>
<br/>
<br/>
<div class="mensajes-historial">
    <ul class="mensajes-list">
                <li ng-repeat="msg in items" class="{{msg.tipo}}">					
                    <div class="mensaje-contenedor row">
                    <div class="mensaje-avatar">    
						<div ng-if="msg.tipo == 'msj_paciente'">
							<img ng-src="{{imagen}}" width="90" height="90" />
						</div>
						<div ng-if="msg.tipo != 'msj_paciente'">
							<img ng-src="{{imagen2}}" width="90" height="90" />
						</div>
                    </div>
                    <div class="mensaje">
                        {{msg.mensaje}}
                        <br />
                        <span class="autor">{{msg.nombre}}</span>
                    </div>                    
                    </div>
					<div class="row">
						<span class="fecha">{{msg.fecha}} {{msg.hora}}</span>					
					</div>
                </li>
            </ul>
	<a id="bottom" name="bottom"></a>
</div>
<div class="row mensaje-envio" ng-style="{'bottom':diferencia+'px'}">
    <form ng-submit="enviar_mensaje()">
    <div class="col-xs-10">
        <textarea ng-model="elmensaje" name="elmensaje" class="elmensaje" placeholder="Escribe tu mensaje..."></textarea>
        <div id="medidas">
    {{originalw}} {{originalh}} {{responsive('diferencia')}}
</div>
    </div>
    <div class="col-xs-2 align-center">
        <input type="submit" value="Enviar"  ng-click="enviar_mensaje()" class="btn btn-primary"/>        
    </div>
    </form>
</div>
