<h2 class="title">Plan Alimentario</h2>

<div class="row plan_elige">
    <div class="col-md-12">
        Elige un plan alimentario
    </div>
</div>    
    
<div class="row">    
        <ul class="plan">
            <li ng-repeat="item in items">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="icon-circle">
                            <img src="img/icon-dieta.png" />
                        </div>
                    </div>
                    <div class="col-xs-10">                        
                        <a href="#/dieta/{{item.id_dieta}}">
                            Plan #{{$index + 1}} 
                            <br />
                            <span>{{item.fecha}}</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>    
</div>




