<div class="fotoWrapper">
    <div class="fotoWrapper2">
        <img src="img/perfil.jpg" />
    </div>
</div>
<h2 class="talign-center">{{usuario_nombre}}</h2>
<p class="talign-center home-paciente">Paciente</p>
<p class="talign-center home-perfil"><a href="#/configuracion"><img src="img/icono-editar.png" /> Editar Perfil</a></p>

<div class="home-basico">
    <div class="row">
        <div class="col-xs-6 talign-center">
            <img src="img/icono-peso.png" />
            <br />
            <span class="peso_perdido">{{peso_perdido}}</span> <span class="peso_signo">Kg</span>
            <br />
            <a href="#/peso">
                <span class="home-item">Peso perdido</span>
                <img src="img/flecha-derecha.png" />
            </a>
        </div>
        <div class="col-xs-6 talign-center">
            <img src="img/icono-cita.png" />
            <br />
            <span class="cita_fecha">{{cita_fecha}}</span>
            <br />
            <span class="cita_hora">{{cita_hora}}</span>
            <br />
            <a href="#/citas">
                <span class="home-item">Próxima cita</span>
                <img src="img/flecha-derecha.png" />
            </a>                
        </div>
    </div>
</div>




