<div class="row">
    <div class="col-xs-12">
        <br />
        <a href="javascript:history.back(1)" class="btn btn-primary btn-block">Regresar</a>
    </div>    
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 class="talign-center">{{momento}}</h2>
    </div>
</div>

<div class="row fecha-votacion">    
    <div class="col-xs-4">
        <input ng-model="fecha_voto" type="radio" name="fecha_puntaje" id="fecha_puntaje1" class="frm-radio" value="1" /> 
        <label for="fecha_puntaje1" class="label-radio label-mal">Mal</label>
    </div>
    <div class="col-xs-4">
        <input ng-model="fecha_voto" type="radio" name="fecha_puntaje" id="fecha_puntaje2" class="frm-radio" value="2" /> 
        <label for="fecha_puntaje2" class="label-radio label-mamenos">+/-</label>
    </div>
    <div class="col-xs-4">
        <input ng-model="fecha_voto" type="radio" name="fecha_puntaje" id="fecha_puntaje3" class="frm-radio" value="3" /> 
        <label for="fecha_puntaje3" class="label-radio label-bien">Bien</label>
    </div>
</div>
<div class="row">    
    <div class="col-xs-12">
        <textarea name="fecha-observacion" class="fecha-observacion" ng-model="fecha_observacion"></textarea>
        <br />
        <a href="" ng-click="voto_guardar()" class="btn btn-primary btn-block">Guardar</a>
    </div>
</div>